{% extends "base.html" %}
{% load static %}
{% block body %}
    <body>
    <div class="container py-3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light my-3">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold fs-3">PP Tech News</a>
                <a class="nav-link active" aria-current="page" href="{% url 'demo' %}"><span class="badge text-bg-secondary">New Website</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Home</a>
                        
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Categories
                                </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Android</a></li>
                                <li><a class="dropdown-item" href="#">Samsung</a></li>
                                <li><a class="dropdown-item" href="#">OnePlus</a></li>
                                <li><a class="dropdown-item" href="#">Google</a></li>                              
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex m-1" method="GET" autocomplete="off" action="{% url 'search' %}">
                        <input class='form-control me-1' type='text' name='q' placeholder='Search...' aria-label='Search' required/>
                        <button class='btn btn-outline-dark'>Search</button>
                    </form>
                    <a href="{% url 'logout' %}" class="btn btn-dark m-2">Logout</a>
                    <h2 style='font-size:20px;margin:5px'>{{user}}</h2>
                </div>
            </div>
        </nav>

        <h1 class="my-3">Latest Posts</h1>
        <div class="row">
            {% for post in posts%}
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="image-container">
                                {% if post.post_image %}
                                    <img src="{{ post.post_image.url }}" class="img-fluid rounded-start" alt="{{ post.post_title }}">
                                {% else %}
                                    <img src="{% static 'path/to/default/image.jpg' %}" class="img-fluid rounded-start" alt="Default Image">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">                                
                                <h5 class="card-title fw-bold"></h5>
                                <h5 class="card-title fw-bold">{{ post.post_title }}</h5>
                                <p class="card-text">{{ post.post_content|truncatewords:10 }}</p>
                                <p class="card-text"><small class="text-muted">{{ post.published_date }}</small></p>
                                <a href="{% url 'description' %}" class="btn btn-dark">Read More</a>                                                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} 
        </div>

        <div class="container d-flex justify-content-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if posts.has_previous %}
                        <li class="page-item"><a class="page-link" href="?p={{ posts.previous_page_number }}">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="?p={{ posts.previous_page_number }}">{{ posts.previous_page_number }}</a></li>
                    {% endif %}

                    <li class="page-item active"><a class="page-link" href="#">{{ posts.number }}</a></li>

                    {% if posts.has_next %}
                        <li class="page-item"><a class="page-link" href="?p={{ posts.next_page_number }}">{{ posts.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?p={{ posts.next_page_number }}">Next</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    <footer class="container py-3">
        <hr class="border border-dark border-2 opacity-50">
        <p class="text-center text-muted">© All rights reserved.</p>
    </footer>

    </body>
{% endblock body %}
